{% extends 'base.html' %} 

{% block content %}
<div class="d-flex justify-content-center">
    <div class="card">
    <h1 class="title">Log In</h1>
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %} {{ form.as_p }}
    <input class="btn btn-primary" type="submit" value="Log in" />
    <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <p class="lead">Don't have an account Sign Up Now!</p>
    <button class="btn btn-secondary"><a class = "text-light text-decoration-none" href="{% url 'signup' %}">Sign Up</a></button>
</div>
</div>
{% endblock %}