{% extends 'base.html' %}

{% block title %}
    Check Up | Find Game
{% endblock %}

{% block content %}
    <h1>Find Game</h1>
    <form>
        <div>
            <input type="text" name="zip" placeholder="search"/>
            <!-- <input type="submit" value="Search"/> -->
            <button type="submit" value="Search">Search</button>
        </div>
    </form>
    <h2>{{header}}</h2>
    {% for game in games %}
        <img src="{{game.img}}"/>
        <h3>{{game.title}}</h3>
        <h3>{{game.game_type}}</h3>
        <h3>{{game.date}} at {{game.time}}</h3>
        <h3>Location: {{game.street}}, {{game.city}}, {{game.state}}, {{game.zip}}</h3>
    {% endfor %}
{% endblock %}