{% extends 'base.html' %}

{% load static %}

{% block title %}
    Check Up | Home
{% endblock %}

{% block content %}
    <div class = "container-home">

        <img class="img-fluid" src="{% static '/images/basketball1.png' %}" alt="basketball court">
        <p class="text-center">Playing you favorite sports just got easier.</p>
        <div class="text-center">
            <button class="btn btn-success"> 
                <a href="/findgame" class = "text-light text-decoration-none">Find Game</a>
            </button>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Step 1</h5>
            <p class="card-text">
                Make an account with CheckUp to register for games, setup your own, and share available slots with your fiends.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Step 2</h5>
            <p class="card-text">
                Ready to play a game? Fill ou the game form and start finding players near you.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Step 3</h5>
            <p class="card-text">Get ready for other CheckUp member to join your game.</p>
          </div>
        </div>
      </div>
{% endblock %}

<!-- Make an account with CheckUp to register for games, setup your own, and share available slots with your fiends
Ready to play a game? Fill ou the game form and start finding players near you.
Get ready for other CheckUp member to join your game -->