{% extends 'base.html' %} 

{% block content %}
<h1>Would you like to join {{group.title}}?</h1>
<form method="post">
  {% csrf_token %}
  <div>
    <input class="btn btn-primary" type="submit" value="Confirm" />
    <button class="btn btn-secondary"><a class="text-decoration-none text-light" href="{% url 'findgame' %}">Cancel</a></button>
    <p class="lead">After you click join, click Done</p>
    <button class="btn btn-success"><a class="text-decoration-none text-light" href="/findgame">Done</a></button>
  </div>
</form>
{% endblock %}