{% extends 'base.html'%}

{% block content %}

<h1 class="display-4">{{user.first_name}}</h1>
<small class="text-muted">@{{username}}</small>
<div class="container mx-auto mt-4">
    <div class="row">
        {% for game in games %}
        <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="{{game.img}}"/>
                        <div class="card-body">
                            <h3>{{game.title}}</h3>
                            <h3>{{game.game_type}}</h3>
                            <h3>{{game.date}} at {{game.time}}</h3>
                            <h3>Location: {{game.street}}, {{game.city}}, {{game.state}}, {{game.zip}}</h3>
                            <button><a href="{% url 'gamedetail' game.pk %}">Details</a></button>
                        </div>
                </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}